<template>
    <div id="docs">
        <div class="section p-5 border-top border-bottom" v-for="(path, pathIndex) in Object.keys(apiResources.paths)" :key="'path-'+pathIndex" :id="pathIndex">
            <div class="mb-5" v-for="verb in Object.keys(apiResources.paths[path])" :key="'path-'+pathIndex+verb" :id="'path-'+pathIndex+verb">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">{{path}}</h3>
                        {{apiResources.paths[path][verb].description}}
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title"><span class="text-success text-uppercase mr-2">{{verb}}</span> <span class="text-black-50">{{path}}</span></h5>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            apiResources:{
                type: Object,
                required: true
            }
        }
    }
</script>

<style>

</style>