<template>
    <nav>
        <ul class="nav d-flex flex-column">
            <li class="nav-item mb-3" v-for="(path, pathIndex) in Object.keys(apiResources.paths)" :key="'nav-path-'+pathIndex">
                {{path}}
                <a class="nav-link mb-1" v-for="verb in Object.keys(apiResources.paths[path])" :href="'#path-'+pathIndex+verb" :key="'nav-path-'+pathIndex+verb">
                    <div class="text-uppercase">{{verb}}</div>
                </a>
            </li>
        </ul>

    </nav>
</template>

<script>
    export default {
        props: {
            apiResources:{
                type: Object,
                required: true
            }
        }
    }
</script>
